In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
dataset_path = 'US_Accidents_March23.csv'
us_accidents_df = pd.read_csv(dataset_path)

In [4]:
us_accidents_df.sample(10)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
5153047,A-5192123,Source1,2,2022-08-01 17:11:32,2022-08-01 19:02:04,42.365651,-83.064472,42.371558,-83.053250,0.703,...,False,False,False,False,False,False,Day,Day,Day,Day
5499308,A-5540998,Source1,2,2021-06-07 16:52:00,2021-06-07 19:52:09,30.304145,-81.903023,30.289585,-81.978703,4.626,...,False,False,False,False,False,False,Day,Day,Day,Day
4252418,A-4284492,Source1,2,2022-12-22 07:50:59.000000000,2022-12-22 09:28:34.000000000,44.842225,-93.398540,44.853101,-93.395517,0.766,...,False,False,False,False,False,False,Day,Day,Day,Day
1188783,A-1198561,Source2,2,2021-01-11 06:43:53,2021-01-11 09:49:30,34.923119,-86.766617,NaN,NaN,0.000,...,False,False,False,False,False,False,Night,Day,Day,Day
827146,A-836860,Source2,2,2021-11-02 07:42:59,2021-11-02 08:44:44,40.020142,-75.694473,NaN,NaN,0.420,...,False,False,False,False,False,False,Day,Day,Day,Day
4496316,A-4530377,Source1,4,2022-07-08 02:26:22,2022-07-08 05:45:00,34.190753,-86.147428,34.190608,-86.147366,0.011,...,False,False,False,False,True,False,Night,Night,Night,Night
6033735,A-6078606,Source1,2,2021-07-05 19:14:29,2021-07-05 20:55:50,41.805822,-88.114117,41.809242,-88.076607,1.946,...,False,False,False,False,False,False,Day,Day,Day,Day
5293622,A-5333807,Source1,2,2022-04-28 14:13:32,2022-04-28 16:01:49,40.665883,-73.993767,40.669743,-73.997187,0.321,...,False,False,False,False,False,False,Day,Day,Day,Day
4527822,A-4562136,Source1,2,2022-09-22 14:02:05,2022-09-22 15:25:18,32.359682,-95.309987,32.359677,-95.310274,0.017,...,False,False,False,False,True,False,Day,Day,Day,Day
1046608,A-1056379,Source2,2,2021-05-06 05:27:26,2021-05-06 06:25:34,32.838249,-97.059723,NaN,NaN,0.320,...,False,False,False,False,False,False,Night,Night,Night,Day

In [5]:
#check which points in the col has missing vals, NaN gives False
us_accidents_df.isnull()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7728390,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7728391,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7728392,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7728393,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
#check total missing vals in each col
us_accidents_df.isnull().sum()

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [7]:
#task given is to drop the 'End_Time' col
us_accidents_df = us_accidents_df.drop(columns=['End_Time'])

In [8]:
us_accidents_df.sample(10)

,ID,Source,Severity,Start_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
3827883,A-3856595,Source1,2,2022-02-13 09:50:00,35.647075,-120.543017,35.648554,-120.541285,0.141,Incident on 8500-BLK UNION RD near 8500-BLK UN...,...,False,False,False,False,False,False,Day,Day,Day,Day
4071266,A-4101893,Source1,2,2022-03-13 17:00:00.000000000,34.064602,-117.992746,34.068212,-117.993326,0.252,Incident on ATHOL ST near E BESS AVE Drive wit...,...,False,False,True,False,False,False,Day,Day,Day,Day
6535362,A-6583650,Source1,2,2020-11-18 17:31:30,40.110112,-75.350603,40.116436,-75.348922,0.446,Slow traffic on US-202 N from PA-23/Schuylkill...,...,False,False,False,False,False,False,Night,Night,Day,Day
6358700,A-6405568,Source1,2,2021-01-19 15:32:20,39.219034,-76.658939,39.219214,-76.658439,0.030,Incident on MD-295 NB near BALTO BELTWAY Drive...,...,False,False,False,False,False,False,Day,Day,Day,Day
3672579,A-3697659,Source1,2,2023-03-26 21:50:00,32.763203,-97.317676,32.768576,-97.318107,0.372,Slow traffic on I-35W N - US-287 N from US-287...,...,False,False,False,False,False,False,Night,Night,Night,Night
689849,A-699539,Source2,3,2022-02-23 06:51:02,39.692112,-86.238693,NaN,NaN,4.480,Crash on I-465 Westbound between Exit 4 Hardin...,...,False,False,False,False,False,False,Night,Night,Day,Day
1172679,A-1182454,Source2,3,2021-01-24 10:25:25,38.877705,-84.625488,NaN,NaN,0.000,One lane blocked due to accident on I-71 North...,...,False,False,False,False,False,False,Day,Day,Day,Day
6671728,A-6720441,Source1,2,2020-12-18 16:48:00,37.341728,-121.924092,37.342039,-121.924473,0.030,THE ALAMEDA XST MCKENDRIE 1960. OCCD DEL LA CR...,...,False,True,False,False,False,False,Day,Day,Day,Day
4739918,A-4775881,Source1,2,2022-01-20 10:53:00,34.055472,-117.134499,34.051856,-117.134507,0.250,Incident on OPAL AVE near E CITRUS AVE Drive w...,...,False,False,True,False,False,False,Day,Day,Day,Day
4424295,A-4457804,Source1,2,2022-06-18 13:00:55,33.022911,-80.054234,33.020342,-80.052661,0.200,Incident on ST JAMES near BIG LOTS PKLT Drive ...,...,False,False,False,False,False,False,Day,Day,Day,Day

In [9]:
us_accidents_df['Start_Time'].dtype

dtype('O')

In [10]:
#convert 'Start_Time' to data time format
us_accidents_df['Start_Time'] = pd.to_datetime(
    us_accidents_df['Start_Time'],
    errors='coerce'
)

In [11]:
us_accidents_df['Start_Time'].dtype

dtype('<M8[ns]')

In [12]:
#extract temporal info from 'Start_Time'
us_accidents_df['Year'] = us_accidents_df['Start_Time'].dt.year
us_accidents_df['Month'] = us_accidents_df['Start_Time'].dt.month
us_accidents_df['Day'] = us_accidents_df['Start_Time'].dt.day
us_accidents_df['Hour'] = us_accidents_df['Start_Time'].dt.hour
us_accidents_df['Weekday'] = us_accidents_df['Start_Time'].dt.day_name()

In [13]:
us_accidents_df.head(10)

,ID,Source,Severity,Start_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Year,Month,Day,Hour,Weekday
0,A-1,Source2,3,2016-02-08 05:46:00,39.865147,-84.058723,NaN,NaN,0.01,Right lane blocked due to accident on I-70 Eas...,...,False,Night,Night,Night,Night,2016.0,2.0,8.0,5.0,Monday
1,A-2,Source2,2,2016-02-08 06:07:59,39.928059,-82.831184,NaN,NaN,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,...,False,Night,Night,Night,Day,2016.0,2.0,8.0,6.0,Monday
2,A-3,Source2,2,2016-02-08 06:49:27,39.063148,-84.032608,NaN,NaN,0.01,Accident on OH-32 State Route 32 Westbound at ...,...,False,Night,Night,Day,Day,2016.0,2.0,8.0,6.0,Monday
3,A-4,Source2,3,2016-02-08 07:23:34,39.747753,-84.205582,NaN,NaN,0.01,Accident on I-75 Southbound at Exits 52 52B US...,...,False,Night,Day,Day,Day,2016.0,2.0,8.0,7.0,Monday
4,A-5,Source2,2,2016-02-08 07:39:07,39.627781,-84.188354,NaN,NaN,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,...,False,Day,Day,Day,Day,2016.0,2.0,8.0,7.0,Monday
5,A-6,Source2,3,2016-02-08 07:44:26,40.100590,-82.925194,NaN,NaN,0.01,Accident on I-270 Outerbelt Northbound near Ex...,...,False,Day,Day,Day,Day,2016.0,2.0,8.0,7.0,Monday
6,A-7,Source2,2,2016-02-08 07:59:35,39.758274,-84.230507,NaN,NaN,0.00,Accident on Oakridge Dr at Woodward Ave. Expec...,...,False,Day,Day,Day,Day,2016.0,2.0,8.0,7.0,Monday
7,A-8,Source2,3,2016-02-08 07:59:58,39.770382,-84.194901,NaN,NaN,0.01,Accident on I-75 Southbound at Exit 54B Grand ...,...,False,Day,Day,Day,Day,2016.0,2.0,8.0,7.0,Monday
8,A-9,Source2,2,2016-02-08 08:00:40,39.778061,-84.172005,NaN,NaN,0.00,Accident on Notre Dame Ave at Warner Ave. Expe...,...,False,Day,Day,Day,Day,2016.0,2.0,8.0,8.0,Monday
9,A-10,Source2,3,2016-02-08 08:10:04,40.100590,-82.925194,NaN,NaN,0.01,Right hand shoulder blocked due to accident on...,...,False,Day,Day,Day,Day,2016.0,2.0,8.0,8.0,Monday

In [14]:
#iterativeimputer for only int and float vals
numeric_cols = us_accidents_df.select_dtypes(include=['int64', 'float64']).columns
sample_df = us_accidents_df[numeric_cols].sample(n=100000, random_state=42)

In [15]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

reg_imputer = IterativeImputer(random_state=42)
sample_imputed = reg_imputer.fit_transform(sample_df)
sample_imputed_df = pd.DataFrame(sample_imputed, columns=sample_df.columns)
sample_imputed_df.head()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Year,Month,Day,Hour
0,1.0,26.706900,-80.119360,26.706900,-80.119360,0.000,78.0,78.000000,81.0,30.13,10.0,13.0,0.010000,2020.000000,4.000000,17.000000,9.000000
1,2.0,38.781024,-121.265820,38.780377,-121.265815,0.045,55.0,55.000000,88.0,29.83,10.0,9.0,0.000000,2019.702863,6.905807,15.741397,10.513245
2,3.0,33.985249,-84.269348,33.984792,-84.269616,0.000,91.0,90.854586,47.0,29.91,10.0,10.4,0.025608,2016.000000,8.000000,12.000000,16.000000
3,3.0,47.118706,-122.556908,47.118604,-122.556594,0.000,67.0,67.000000,84.0,29.78,10.0,3.0,0.000000,2019.000000,9.000000,20.000000,15.000000
4,2.0,33.451355,-111.890343,33.451186,-111.889602,0.000,95.0,95.000000,16.0,28.53,10.0,6.0,0.000000,2019.000000,6.000000,3.000000,16.000000

In [16]:
# Drop cols 'End_Lat', 'End_Lng', 'Wind_Chill(F)' and 'Precipitation(in)' as these cols contains lot of missing vals
cols_to_drop = ['End_Lat', 'End_Lng', 'Wind_Chill(F)', 'Precipitation(in)']
us_accidents_df.drop(columns=cols_to_drop, inplace=True)

In [17]:
us_accidents_df.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'Start_Lat', 'Start_Lng',
       'Distance(mi)', 'Description', 'Street', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)',
       'Wind_Direction', 'Wind_Speed(mph)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight', 'Year', 'Month', 'Day', 'Hour', 'Weekday'],
      dtype='object')

In [18]:
# For categorical encoding we need to identify all obj cols
categorical_cols = us_accidents_df.select_dtypes(include=['object']).columns
print(categorical_cols)

Index(['ID', 'Source', 'Description', 'Street', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Wind_Direction', 'Weather_Condition', 'Sunrise_Sunset',
       'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight',
       'Weekday'],
      dtype='object')

In [19]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

onehot_cols = ['Source', 'State', 'Country', 'Weekday', 'Weather_Condition']
label_cols = ['City', 'County']

us_accidents_df = pd.get_dummies(us_accidents_df, columns=onehot_cols, drop_first=True)

for col in label_cols:
    le = LabelEncoder()
    us_accidents_df[col] = le.fit_transform(us_accidents_df[col].astype(str))

us_accidents_df.head()

,ID,Severity,Start_Time,Start_Lat,Start_Lng,Distance(mi),Description,Street,City,County,...,Weather_Condition_Thunder in the Vicinity,Weather_Condition_Thunderstorm,Weather_Condition_Thunderstorms and Rain,Weather_Condition_Thunderstorms and Snow,Weather_Condition_Tornado,Weather_Condition_Volcanic Ash,Weather_Condition_Widespread Dust,Weather_Condition_Widespread Dust / Windy,Weather_Condition_Wintry Mix,Weather_Condition_Wintry Mix / Windy
0,A-1,3,2016-02-08 05:46:00,39.865147,-84.058723,0.01,Right lane blocked due to accident on I-70 Eas...,I-70 E,2894,1124,...,False,False,False,False,False,False,False,False,False,False
1,A-2,2,2016-02-08 06:07:59,39.928059,-82.831184,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,Brice Rd,10195,595,...,False,False,False,False,False,False,False,False,False,False
2,A-3,2,2016-02-08 06:49:27,39.063148,-84.032608,0.01,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,13347,347,...,False,False,False,False,False,False,False,False,False,False
3,A-4,3,2016-02-08 07:23:34,39.747753,-84.205582,0.01,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,2894,1124,...,False,False,False,False,False,False,False,False,False,False
4,A-5,2,2016-02-08 07:39:07,39.627781,-84.188354,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,2894,1124,...,False,False,False,False,False,False,False,False,False,False